body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Серая подложка*/

.background {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  min-width: 768px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

/*Кнопки*/

.button-blue {
  font: inherit;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.button-blue:hover {
  background-color: #669ec0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-brown {
  font: inherit;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-white {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
}

.button-white:hover, .button-white:active {
  color: #000;
  background-color: #fff;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Хедер*/

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
  padding-top: 20px;
  padding-bottom: 18px;
  outline: 1px solid red;
}

.site-navigation {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  outline: 1px solid red;
}

.site-navigation li {
  text-align: center;
  width: 20%;
  padding-left: 6%;
  padding-right: 6%;
  outline: 1px solid green;
}

.site-navigation a {
  font-size: 14px;
  color: #000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a, .site-navigation-current a:hover, .site-navigation-current a:active {
  color: #766357;
}

/*Главная страница*/

/*Лид*/

.intro {
  margin: 0;
  padding: 0;
  outline: 1px solid green;
}

.intro p {
  text-align: center;
  width: 576px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid green;
}

.intro .black {
  color: #000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  outline: 1px solid green;
}

/* Преимущества*/

.features {
  margin-bottom: 60px;
  margin-top: 0px;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 1px solid green;
}

.feature-first, .feature-second {
  color: #fff;
  text-align: center;
  background-color: #81b3d2;
  display: flex;
  justify-content: space-between;
  min-height: 255px;
  outline: 1px solid red;
}

.feature-title {
  width: 400px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 50px;
}

.feature-first h3, .feature-second h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

/*Первое преимущество*/

.feature-first-pic {
  background-image: url("../img/pic_1.jpg");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #81b3d2;
  width: 800px;
  outline: 1px solid green;
}

/*Дополнительные преимущества*/

.features-extra {
  color: #333;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 330px;
  outline: 1px solid red;
}

.features-extra li {
  width: 33.33%;
  outline: 1px solid green;
}

.features-extra h3 {
  color: #000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.feature-extra-first {
  padding-left: 73px;
  padding-right: 73px;
}

.feature-extra-second {
  padding-left: 55px;
  padding-right: 55px;
}

.features-extra-third {
  padding-left: 60px;
  padding-right: 60px;
}

.feature-extra-first-pic {
  background-image: url("../img/icon-1.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  top: 0;
  left: 50%;
  outline: 1px solid blue;
}

.feature-extra-second-pic {
  background-image: url("../img/icon-3.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 74px;
  height: 70px;
  outline: 1px solid blue;
}

.feature-extra-third-pic {
  background-image: url("../img/icon-2.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
  outline: 1px solid blue;
}

/*Второе преимущество*/

.feature-second-pic {
  background-image: url("../img/pic_2.jpg");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #81b3d2;
  width: 800px;
  outline: 1px solid red;
}

/*Третье, четвертое, пятое преимущества*/

.feature-small-conreiner {
  background-color: #eee;
  display: flex;
  min-height: 255px;
  outline: 1px solid red;
}

.feature-small {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 33.33%;
  outline: 1px solid red;
}

.feature-small h3 {
  color: #000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.feature-small:nth-child(1) {
  padding-left: 73px;
  padding-right: 73px;
}

.feature-small:nth-child(2) {
  padding-left: 65px;
  padding-right: 65px;
}

.feature-small:nth-child(3) {
  padding-left: 60px;
  padding-right: 60px;
}

/*Бронирование*/

.booking {
  text-align: center;
  width: 576px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}

.booking h2 {
  color: #000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.booking .button-brown {
  display: block;
  width: 100%;
  padding-top: 29px;
  padding-bottom: 32px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

/*Форма бронирования*/

.modal-booking {
  margin-left: auto;
  margin-right: auto;
  width: 576px;
  min-height: 395px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.15);
  outline: 1px solid red;
}

.booking-form {
  display: flex;
  flex-wrap: wrap;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 55px;
  padding-bottom: 55px;
  position: relative;
  z-index: 1;
  outline: 1px solid red;
}

.booking-form .button-blue {
  display: block;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 16px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.booking-item {
  margin: 0;
  margin-bottom: 30px;
  outline: 1px solid red;
}

.modal-booking input {
  box-sizing: border-box;
  width: 345px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 8px;
  padding-bottom: 12px;
  font: inherit;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: 1px solid red;
}

.modal-booking input:hover {
  font: inherit;
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.modal-booking input:focus {
  font: inherit;
  background-color: #fff;
  border: 2px solid #e5e5e5;
}

.button-calendar{
  padding-right:9px;
  position: relative;
  top: 8px;
  background-image: url("..img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 21px;
  height: 22px;
}

/*Карта*/

.map {
  position: relative;
  bottom: 0;
  z-index: 0;
}

/*Страница с отелями*/

/*Форма с фильтрами*/

.filters {
  background-image: url("../img/hotels_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #81b3d2;
  max-width: 1200px;
  min-width: 768px;
  min-height: 215px;
  outline: 1px solid red;
}

.filter {
  display: flex;
  justify-content: space-around;
  min-height: 215px;
  outline: 1px solid red;
}

.filters fieldset {
  border: none;
  outline: 1px solid green;
}

.filter legend {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  outline: 1px solid red;
}

.filter-input-checkbox:disabled {
  color: rgba(255, 255, 255, 0.5);
}

.range-inputs input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
}

/*Сортировка*/

.sorting {
  display: flex;
  margin: 0px;
  padding: 0px;
  outline: 1px solid red;
}

.sorting p {
  color: #000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 70px;
  margin-right: 50px;
}

.sorting h3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  min-width: 240px;
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  text-decoration: none;
}

.button-arrow-conteiner {
  margin-left: auto;
  margin-right: 70px;
}

.sorting-item a:hover {
  color: #81b3d2;
}

.sorting-item a:active {
  color: #000;
  border-bottom: none;
}

.sorting-item-active a, .sorting-item-active a:hover, .sorting-item-active a:active {
  color: #81b3d2;
  border-bottom: none;
}

.range-slider {
  margin-left: auto;
}

/*Список отелей*/

.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

.hotel-item {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  min-height: 100px;
  width: 100%;
  outline: 1px solid blue;
}

.hotel-item-img {
  margin-left: 70px;
  margin-right: 30px;
  outline: 1px solid red;
}

.hotel-item-info {
  outline: 1px solid red;
}

.hotel-item-rating {
  margin-left: auto;
  margin-right: 70px;
  outline: 1px solid red;
}

.hotel-name a {
  color: #000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  outline: 1px solid blue;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-rating {
  float: right;
  text-align: center;
  background-color: #F2F2F2;
  color: #666;
}

/*Футер*/

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  z-index: 2;
  outline: 1px solid red;
}

.main-footer p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
  margin-left: 130px;
  outline: 1px solid red;
}

.footer-social {
  list-style: none;
  outline: 1px solid red;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 160px;
  margin: 0 auto;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-conteiner {
  margin-right: 100px;
  outline: 1px solid red;
}
