body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
  background-color: #fff;
}

a {
  text-decoration: none;
}

/*Кнопки*/

.button-blue {
  font: inherit;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.button-blue:hover {
  background-color: #669ec0;
}

.button-blue:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.button-brown {
  font: inherit;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  color: #857871;
  background-color: #503e33;
}

.button-white {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}

.button-white:hover, .button-white:active {
  color: #000;
  background-color: #fff;
  border: none;
}

.visually-hidden {
  
}

/*Хедер*/

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

.site-navigation-current {
  color: #766357;
}

.site-navigation-current:hover {
  color: #81b3d2;
}

.site-navigation-current:active {
  color: #cacaca;
}

/*Главная страница*/

/*Лид*/

.intro {
  color: #000;
  text-align: center;
  background-color: #fff;
}

.intro p:nth-child(3) {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

/* Преимущества*/

.features-list {
  list-style: none;
}

/*Первое преимущество*/

.feature-1 {
  color: #fff;
  text-align: center;
  background-color: #81b3d2;
  background-image: url("../img/pic_1.jpg");
  background-position: right;
  background-size: 800px;
  background-repeat: no-repeat;
}

.feature-1 h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

/*Дополнительные преимущества*/

.features-extra {
  color: #333;
  list-style: none;
  text-align: center;
  background-color: #fff;
}

.features-extra h3 {
  color: #000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

/*Второе преимущество*/

.feature-2 {
  color: #fff;
  text-align: center;
  background-color: #81b3d2;
  background-image: url("../img/pic_2.jpg");
  background-position: right;
  background-size: 800px;
  background-repeat: no-repeat;
}

.feature-2 h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

/*Третье, четвертое, пятое преимущества*/

.feature-small {
  list-style: none;
  text-align: center;
  background-color: #fff;
}

.feature-small h3 {
  color: #000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

/*Бронирование*/

.booking {
  text-align: center;
  background-color: #fff;
}

.booking h2 {
  color: #000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

/*Форма бронирования*/

.modal-booking input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.modal-booking input:hover {
  font: inherit;
  background-color: #ebebeb;
  border: none;
}

.modal-booking input:focus {
  font: inherit;
  background-color: #fff;
  border: 2px solid #e5e5e5;
}

/*Страница с отелями*/

/*Форма с фильтрами*/

.filters {
  background-color: #fff;
  background-image: url("../img/hotels_bg.jpg");
  background-position: top left;
  background-repeat: no-repeat;
}

.filters fieldset {
  border: none;
}

.filter legend {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}

.filter-input-checkbox:disabled+label {
  opacity: 0.5;
}

.range-inputs input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #fff;
}

/*Сортировка*/

.sorting-item {
  list-style: none;
}

.sorting-item a {
  color: #cacaca;
  text-decoration: underline;
}

.sorting-item a:hover {
  color: #81b3d2;
  text-decoration: underline;
}

.sorting-item a:active {
  color: #000;
  text-decoration: none;
}

.sorting-item-active a {
  color: #81b3d2;
  text-decoration: none;
}

/*Список отелей*/

.hotels-list {
  list-style: none;
}

.hotels-item h3 a {
  color: #000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotels-item h3 a:hover {
  color: #81b3d2;
}

.hotels-item h3 a:active {
  color: ##cacaca;
}

.hotels-rating {
  text-align: center;
  background: #F2F2F2;
  color: #666;
}

/*Футер*/

.main-footer {
  color: #000;
  opacity: 0.9;
}

.footer p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.footer-social {
  list-style: none;
}

.footer-social a {
  color: #000;
}
