body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
  background-color: #fff;
}

a {
  text-decoration: none;
}

/*Серая подложка*/

.background {}

/*Кнопки*/

.button-blue {
  font: inherit;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.button-blue:hover {
  background-color: #669ec0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-brown {
  font: inherit;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-white {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
}

.button-white:hover, .button-white:active {
  color: #000;
  background-color: #fff;
}

.visually-hidden {}

/*Хедер*/

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
  color: #766357;
}

.site-navigation-current a:hover {
  color: #766357;
}

.site-navigation-current a:active {
  color: #766357;
}

/*Главная страница*/

/*Лид*/

.intro {
  text-align: center;
  background-color: #fff;
}

.intro .black {
  color: #000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

/* Преимущества*/

.features-list {
  list-style: none;
}

.feature-title {
  color: #fff;
  text-align: center;
  background-color: #81b3d2;
}

.feature-title h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

/*Первое преимущество*/

.feature-first-pic {
  background-image: url("../img/pic_1.jpg");
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #81b3d2;
}

/*Дополнительные преимущества*/

.features-extra {
  color: #333;
  list-style: none;
  text-align: center;
  background-color: #fff;
}

.features-extra h3 {
  color: #000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.features-extra-first {
  background-image: url("../img/icon-1.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #fff;
}

.features-extra-second {
  background-image: url("../img/icon-3.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #fff;
}

.features-extra-third {
  background-image: url("../img/icon-2.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #fff;
}

/*Второе преимущество*/

.feature-second-pic {
  background-image: url("../img/pic_2.jpg");
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #81b3d2;
}

/*Третье, четвертое, пятое преимущества*/

.feature-small {
  list-style: none;
  text-align: center;
  background-color: #fff;
}

.feature-small h3 {
  color: #000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

/*Бронирование*/

.booking {
  text-align: center;
  background-color: #fff;
}

.booking h2 {
  color: #000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

/*Форма бронирования*/

.modal-booking input {
  font: inherit;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.modal-booking input:hover {
  font: inherit;
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.modal-booking input:focus {
  font: inherit;
  background-color: #fff;
  border: 2px solid #e5e5e5;
}

/*Страница с отелями*/

/*Форма с фильтрами*/

.filters {
  background-color: #fff;
  background-image: url("../img/hotels_bg.jpg");
  background-position: top left;
  background-repeat: no-repeat;
}

.filters fieldset {
  border: none;
}

.filter legend {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}

.filter-input-checkbox:disabled {
  color: rgba(255, 255, 255, 0.5);
}

.range-inputs input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
}

/*Сортировка*/

.sorting p {
  color: #000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting h3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-item {
  list-style: none;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
  text-decoration: none;
}

.sorting-item a:hover {
  color: #81b3d2;
}

.sorting-item a:active {
  color: #000;
  border-bottom: none;
}

.sorting-item-active a {
  color: #81b3d2;
  border-bottom: none;
}

.sorting-item-active a:hover {
  color: #81b3d2;
  border-bottom: none;
}

.sorting-item-active a:active {
  color: #81b3d2;
  border-bottom: none;
}

/*Список отелей*/

.hotels-list {
  list-style: none;
}

.hotel-name a {
  color: #000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-rating {
  text-align: center;
  background-color: #F2F2F2;
  color: #666;
}

/*Футер*/

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.footer-social {
  list-style: none;
}
